@import url('https://fonts.googleapis.com/css?family=Oswald');

body, html{
  height:100%;
  margin:0;
  font-family: 'Oswald', sans-serif;
  color:#666;
}

.pimg1, .pimg2, .pimg3{
  position:relative;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:fixed;
}

.pimg1{
  background: linear-gradient(
    rgba(0,0,0,0.6),
    rgba(0,0,0,0.6)
  ),
  url('../img/bg.PNG');
  position:relative;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:fixed;
  min-height:100%;
}

.pimg2{
  background: linear-gradient(
    rgba(0,0,0,0.8),
    rgba(0,0,0,0.8)
  ),
  url('../img/calc.jpg');
  position:relative;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:fixed;
  min-height:800px;
}

.pimg3{
  background-image:url('../img/image3.jpg');
  min-height:400px;
}

.section{
  text-align:center;
  padding:50px 80px;
}

.section-dark{
  background-color:#282e34;
  color:#ddd;
}

.landing{
  position:absolute;
  top:42%;
  width:100%;
  text-align:center;
  color: white;
  font-size: 50px;
  display: block;
}

.link {
  display: inline;
  font-size: 20px;
  color: white;
  border: 2px solid white;
  padding: 10px 30px;
  text-decoration: none;
  margin: 10px;
}

.link:hover {
  background-color: white;
  color: black;
}

.navlinks a {
  border-color: transparent;
  float: right;
  display: inline;
  font-size: 20px;
  color: white;
  padding-top: 10px;
  padding-right: 30px;
  text-decoration: none;
  margin-right: 15px;
  margin-top: 15px;
}

#contact {
  border: 2px solid white;
  padding: 10px 30px;
  color: white;
}

#contact:hover {
  color: black;
  background-color: white;
}

.codetext {
  display: inline-block;
  width: 25%;
}

.codetext img {
  width: 50%;
}

.ctext {
  position:absolute;
  top:44%;
  width:100%;
  text-align:center;
  color: white;
  font-size: 50px;
  display: block;
}

.ctext a{
  text-decoration: none;
  color: white;
  display: inline-block;
}

.ctext a:hover:after {
  width: 100%;
}

.ctext a:after {
  content: '';
  width: 0px;
  height: 5px;
  display: block;
  background: white;
  transition: 300ms;
  position: relative;
  top: -7px;
}

.un {
  display: inline-block;
}

.un:after {
  content: '';
  width: 0px;
  height: 3px;
  display: block;
  background: white;
  transition: 300ms;
}

.un:hover:after {
  width: 100%;
}

.bars {
  display: none;
}

@media(max-width:568px){
  .pimg1, .pimg2, .pimg3{
    background-attachment:scroll;
  }
}

@media screen and (max-width: 600px){
  .bars {
    display: block;
    position: absolute;
    right: 15px;
    top: 10px;
    height: 50px;
    width: 50px;
  }
  
  .bar {
    height: 6px;
    width: 45px;
    margin: 5px auto;
    background-color: white;
    border-radius: 3px;
  }

  .navlinks a {
    display: none;
  }
  .codetext {
    display: block;
    width: 80%;
  }
  
  .codetext img {
    width: 80%;
  }
}

footer {
  background: transparent;
  max-height: 40px;
  width: 100%;
  overflow: hidden;
  position: absolute;
  left: 0;
  bottom: 0;
}

.socialNav {
  height: auto;
  width: 250px;
  margin: 240px auto 0 auto;
  color: white;
  font-size: 50px;
  display: block;
}

.socialIcon {
  height: 60px;
  width: 60px;
  display: inline-block;
  margin-top: 20px;
}

.socialText {
  display: inline;
  margin-left: 10px;
}
