{% extends "blog/postbase.html" %}
{% load static %}
{% block content %}
    <form action="{% static 'blog/TensorFlowJS/tf.html' %}" style="display:inline;position:absolute;top:150px;right:32%;">
        <input type="submit" value="Click to Expand"/>
    </form>
    <iframe src="{% static 'blog/TensorFlowJS/tfdemo.html' %}" style="width:500px;height:400px;border:none;display:block;margin:20px auto;" scrolling="no"></iframe>
    <div class="container">
        <h1 style="text-align:center;">TensorFlow JS</h1>
        <hr style="border:1px solid white;max-width:750px;">
        <p style="text-align:center;max-width:650px;margin:0 auto;">I liked the idea of mutually assured destruction between matter/anti-matter collisions, so much so I created this canvas game based upon it! The full code can be viewed <a href="https://github.com/Wong-Innovations/particle" id="git-link" target="_blank">here.</a></p>
        <br>
        <p style="text-align:center;max-width:650px;margin:0 auto;">The JavaScript backing the game can be broken down into three main components: an object-oriented Entity Component System to track each particle position and collision detection, a 'Render' class for drawing text and circles to the canvas, and an animation loop (serving as the 'main' function of the program).</p>
        <br><br>
    </div>
    <script>
        var iframe = document.getElementsByTagName('IFRAME')[0];
        iframe.focus();
        iframe.onblur = function() {
            iframe.focus();
        }
    </script>
{% endblock content %}
